html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("imagem-fundo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  color: white;
  background-color: rgba(2, 85, 60, 0.65);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(253, 252, 252, 0.35);
}